<!DOCTYPE html>

<html>

<head>
  <title>
    Alexandros Arapidis | APIs and Microservices | freeCodeCamp.org
  </title>
</head>

<body>
  <h1>Alexandros Arapidis | APIs and Microservices | freeCodeCamp.org</h1>
  <div class="container">
    <h3>Projects:</h3>
    <ul>
      <li><a href="/timestamp">Timestamp Microservice</a></li>
      <li><a href="/headerparser">Header Parser Microservice</a></li>
      <li><a href="/url-shortener">Url Shortener Microservice</a></li>
    </ul>
  </div>
</body>

</html>